@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-size: 25px;
  line-height: 27px;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding-top: 75px;
}

#webCanvas {
  position: absolute;
  top: 40px;
  left: 40px;
  border: 1px solid black;
}

#eraser_btn {
  position: absolute;
  font-size: medium;
  top: 100px;
  left: 890px;
}

#brush_btn {
  position: absolute;
  font-size: medium;
  top: 130px;
  left: 890px;
}

#color_selector {
  position: absolute;
  font-size: medium;
  top: 160px;
  left: 890px;
}

#colorWell {
  position: absolute;
  top: 162px;
  left: 990px;
}


#brush_size_label {
  position: absolute;
  font-size: medium;
  top: 190px;
  left: 890px;
}

#brush_size_menu {
  position: absolute;
  top: 194px;
  left: 970px;
}

#text_box {
  position: absolute;
  top: 220px;
  left: 890px;
}

#submit_text_btn {
  position: absolute;
  top: 221px;
  left: 1050px;
}

#font_menu_label {
  position: absolute;
  font-size: medium;
  top: 250px;
  left: 890px;
}

#font_menu {
  position: absolute;
  top: 254px;
  left: 960px;
}

#font_size_slider_label {
  position: absolute;
  font-size: medium;
  top: 280px;
  left: 890px;
}

.slider_container {
  width: 100%;
}

#font_size_slider {
  position: absolute;
  top: 285px;
  left: 960px;
  width: 150px;
  height: 25px;
}

#refresh_btn {
  position: absolute;
  top: 310px;
  left: 890px;
}

#download_link {
  position: absolute;
  font-size: medium;
  top: 340px;
  left: 890px;
}

#circle_tool {
  position: absolute;
  font-size: medium;
  top: 130px;
  left: 950px;
}
